<div class="px-4 py-5 mb-3 text-center heroBg">
    <h3 class="mb-3 handwriting text-light">Ristorante Il Gambero Rosso</h3>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-light">With an illustrious history spanning 18 years, Ristorante Il Gambero Rosso has been a
            cherished culinary gem. Our journey is a testament to our enduring commitment to crafting exceptional
            Italian cuisine.</p>
    </div>
</div>

<div class="b-divider py-1"></div>

<div class="container col-xxl-8 px-4 py-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../assets/images/making/making-pizza-doug.jpg" class="d-block mx-lg-auto img-fluid"
                alt="pizza making" width="700" height="500" loading="lazy">
        </div>

        <div class="col-lg-6">
            <h3 class="mb-3">Homemade Pizza</h3>
            <p class="lead">Our passion for crafting the perfect pizza is at the heart of Ristorante Il Gambero Rosso.
                Every pizza is a labor of love, from hand-kneading the dough to the artful assembly of fresh,
                locally-sourced ingredients. Our dedication to this Italian classic is an expression of our unwavering
                commitment to authenticity and a delight for your taste buds.</p>
        </div>

    </div>
</div>

<div class="b-divider py-1"></div>

<div class="container col-xxl-8 px-4 py-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

        <div class="col-lg-6">
            <h3 class="mb-3">Homemade Pasta</h3>
            <p class="lead">Handmade pasta at Ristorante Il Gambero Rosso embodies a profound love for tradition and
                taste. Each delicate strand is crafted with care, using time-honored techniques and the finest
                ingredients. Our culinary artisans pour their hearts into every dish, ensuring that each bite carries
                the essence of Italy. The result is a symphony of textures and flavors, a testament to our enduring love
                for the art of pasta-making.</p>
        </div>

        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../assets/images/making/making-pasta-hands.jpg" class="d-block mx-lg-auto img-fluid"
                alt="pasta making" width="700" height="500" loading="lazy">
        </div>

    </div>
</div>