<header class="p-3 myNavbar">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none logoContainer">
            <img src="../../assets/images/logo/red-shrimp-logo.jpg" alt="red shrimp logo">
            <p class="h2 logotext me-5 mb-0">Ristorante Il Gambero Rosso</p>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <!-- <li><a routerLink="/home" class="nav-link px-2 text-white" routerLinkActive="myActive">Home</a></li> -->
            <li><a routerLink="/menu" class="nav-link px-2 text-white" routerLinkActive="myActive">Menu</a></li>
            <li><a routerLink="/cart" class="nav-link px-2 text-white" routerLinkActive="myActive">Cart</a></li>
            <li><a routerLink="/about" class="nav-link px-2 text-white" routerLinkActive="myActive" >About</a></li>
        </ul>

    </div>
</header>