.logotext {
    font-family: 'Great Vibes', cursive;
}
.logoContainer {
    padding: auto 0px;
    margin: 0;
}
.myNavbar {
    background-color: black;
}
img {
    width: 45px;
}
.myActive {
    transform: scale(1.2,1.2);
    transition: 300ms all ease-in;
    /* color: red!important; */
}