.logotext {
    font-family: 'Great Vibes', cursive;
}
.logoContainer {
    padding: auto 0px;
    margin: 0;
}
.myNavbar {
    background-color: black;
}
img {
    width: 45px;
}
.myActive {
    transform: translateY(-10px);
    transition: 200ms all ease-in;
}