.myCartImage {
    width: 100px;
}
.myCartImage img {
    width: 100%;
    border-radius: 0px 5px 5px 5px;
}
.priceColumn {
    width: 100px;
}
.text-align-right {
    text-align: right;
}
.myBtn i {
    font-size: 20px;
    color: red;
}
.myBtn {
    background-color: white;
    border: none;
}
.containerFull {
    background-color: white;
    background-image: url("../../assets/images/closeup/closeup-pizza3.jpg");
    background-size: cover;
}
h3, #summaryTable td, form td {
    color: white;
}