<div class="row">
    <div class="col col-9">
        <h3>Cart <span *ngIf="items.length > 0">- {{ items.length }} item<span *ngIf="items.length > 1">s</span> </span></h3>
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Item</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr class="cart-item" *ngFor="let item of items; index as i">
                    <td class="myCartImage"><img src="{{ item.image }}" alt="picture of {{ item.name }}"></td>
                    <td>
                        <div class="fs-5">{{ item.name }}</div>
                        <div class="fs-6" *ngIf="item.description"><b>Description:</b></div>
                        <div class="fs-6" *ngIf="item.description">{{ item.description }}</div>
                    </td>
                    <td>
                        <div class="fs-5">{{ item.price | currency }}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col col-3">
        <h3>Summary</h3>

    </div>
</div>
