<div class="px-4 py-5 mb-2 text-center" id="hero1">
    <h3 class="lead mb-4">Benvenuto al</h3>
    <h1 class="display-5 logotext handwriting">Ristorante Il Gambero Rosso</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Welcome to Ristorante Il Gambero Rosso, where culinary excellence and the rich tapestry of
            Italian tradition flourish in the heart of Italy. Our authentic pizza oven infuses every dish with the
            spirit of our homeland.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a routerLink="/menu" class="myLink"><button type="button"
                    class="btn btn-outline-light btn-lg px-4 gap-3">Menu</button></a>
            <a routerLink="/about" class="myLink"><button type="button" class="btn btn-outline-light btn-lg px-4">About
                    us</button></a>
        </div>
    </div>
</div>

<div class="container" id="hero2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-12 col-sm-12 col-lg-6">
            <img src="../../assets/images/home/home-pizza-oven.jpg" class="d-block mx-lg-auto img-fluid"
                alt="pizza oven" width="700" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h3 class="mb-3 mx-3 handwriting">Culinary Excellence and Italian Tradition</h3>
            <p class="lead mx-3">
                Nestled in the heart of Italy, Ristorante Il Gambero Rosso embodies the essence of culinary excellence
                and the vibrant Italian tradition. Our commitment to upholding the authenticity of Italian cuisine is
                unwavering, from carefully sourcing the finest ingredients to crafting each pizza and pasta with a blend
                of passion and precision.
            </p><br>
            <p class="lead mx-3">
                At the heart of our operation stands our traditional pizza oven, an iconic emblem of Italian culinary
                heritage. Meticulously tended by our skilled pizzaiolos, this wood-fired oven infuses our pizzas with a
                unique flavor and texture, reminiscent of the pizzerias that grace the streets of our beautiful
                homeland.
            </p><br>
            <p class="lead mx-3">
                Beyond the oven, we pay homage to age-old recipes and regional specialties, cherishing the gastronomic
                treasures that have graced Italian tables for generations. Every bite at Ristorante Il Gambero Rosso is
                a culinary journey, an invitation to celebrate the true spirit of Italy through the flavors and
                traditions that define our beloved country.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="mx-3">
        <div>
            <h2 class="pb-2 border-bottom handwriting mt-3">Why choose us?</h2>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 mt-3">
            <div class="col">
                <h3 class="">Fresh local ingredients</h3>
                <p class="lead">
                    Our commitment to quality begins with the finest locally-sourced ingredients. We handpick fresh
                    produce,
                    ensuring that every bite bursts with the authentic flavors of Italy.
                </p>
            </div>
            <div class="col">
                <h3 class="">18 years of experience</h3>
                <p class="lead">
                    With nearly two decades of culinary mastery, our chefs have honed their skills to perfection. You
                    can
                    trust our experience to deliver consistently exceptional Italian cuisine.
                </p>
            </div>
            <div class="col">
                <h3 class="">Made with love</h3>
                <p class="lead">
                    Each dish at Ristorante Il Gambero Rosso is a labor of love. From kneading dough to simmering
                    sauces, we
                    infuse every creation with passion, ensuring an unforgettable dining experience.
                </p>
            </div>
        </div>
        <div>
            <h2 class="pb-2 border-bottom handwriting mt-3">Have you tried our specials?</h2>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 px-2">
                <img src="{{ dishes[0].image }}" class="rounded" width="200px" alt="pictrue of {{dishes[0].name}}">
                <h2 class="fw-normal">{{dishes[0].name}}</h2>
                <p>{{ dishes[0].description }}</p>
                    <a class="btn btn-outline-dark p-1 mb-3" routerLink="details/0">View details »</a>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 px-2">
                <img src="{{ dishes[7].image }}" class="rounded" width="200px" alt="pictrue of {{dishes[7].name}}">
                <h2 class="fw-normal">{{dishes[7].name}}</h2>
                <p>{{ dishes[7].description }}</p>
                    <a class="btn btn-outline-dark p-1 mb-3" routerLink="details/7">View details »</a>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 px-2">
                <img src="{{ dishes[5].image }}" class="rounded" width="200px" alt="pictrue of {{dishes[5].name}}">
                <h2 class="fw-normal">{{dishes[5].name}}</h2>
                <p>{{ dishes[5].description }}</p>
                <a class="btn btn-outline-dark p-1 mb-3" routerLink="details/5">View details »</a>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>
</div>
<div class="py-4"></div>